@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background-color: #2a2a2a;
	color: lightgray;
	margin: 0;
	padding-bottom:100px;
}
header {
	text-align: center;
	background-color: #424242;
	padding: 20px;
}
header h1 {
	font-size: 72px;
	color: white;
	text-shadow: 1px 1px white, -1px 1px white, -1px -1px white,
		1px -1px white;
	letter-spacing: 3px;
	font-family: "Architects Daughter", cursive;
}
header h2 {
	font-size: 36px;
	font-family: "Architects Daughter", cursive;
}
header::after {
	content: "";
	display: inline-block;
	background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none' style='height: 100%25; width: 100%25;'%3E%3Cpath d='M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z' style='stroke: none;fill: %23424242;'%3E%3C/path%3E%3C/svg%3E");
	height: 150px;
	width: 100%;
	position: absolute;
	left: 0px;
}
#container {
	width: 60%;
	margin: auto;
	font-size: 36px;
}
.check {
	display: flex;
	flex-direction: row;
	user-select: none;
	cursor: pointer;
		flex-wrap: wrap;
}
.check input {
	height: 40px;
	width: 40px;
	margin-right: 20px;
}
.check * {
	cursor: pointer;
}
#add, #addDatetime {
	width: calc(60vw - 120px);
	/*margin-left: 20%;*/
	height: 60px;
	margin-top: 20px;
	padding: 10px 20px;
	outline: 0;
	background-color: #3f3f3f;
	border: 0;
	color: white;
	border-bottom: 4px solid darkgray;
	font-size: 24px;
	transition: 0.2s;
	margin-right: 20px;
}
#add:focus, #addDatetime:focus {
	border-bottom-color: white;
}
#letsgo {
	--color: lightgray;
	background: transparent;
	width: 100px;
	height: 60px;
	border: 3px solid var(--color);
	color: var(--color);
	padding: 5px 10px;
	font-size: 18px;
	border-radius: 8px;
	transition: 0.2s;
}
#letsgo:hover {
	--color: white;
cursor: pointer;
}
#letsgo:active {
	opacity: 0.8;
}
.close {
	color: lightcoral;
	display: inline-block;
}
.check_tools > *:hover {
	opacity: 0.8;
}
.check_tools > *:active {
	opacity: 0.5;
}
#savedata{
	--color: darkgray;
	margin-left:20%;
	width:60%;
	height:60px;
	margin-top:20px;
	font-size:24px;
	background:#424242;
	border:2px solid var(--color);
	border-radius:8px;
	color: var(--color);
}
#savedata:hover{
	background:#343434;
	--color: lightgray;
}
#savedata:active{
	--color: white;
	background:#2a2a2a;
}
.duedata{
	font-size:18px;
	display:inline-block;
	width:100%;
	padding-left:60px;
}
footer{
	font-size:18px;
	line-height:30px;
	position:fixed;
	text-align: center;
	bottom:0px;
	width:100%;
	background:#2a2a2a;
	padding:10px;
}
a{
	--h: 30px;
	color:lightgray !important;
	border-bottom:3px solid darkviolet;
	text-decoration:none;
	padding:2px 5px;
	transition: 0.2s;
	background:linear-gradient(45deg,darkviolet, darkviolet) no-repeat 0px var(--h) ;
}
a:hover{
	background:linear-gradient(45deg,darkviolet, darkviolet) no-repeat 0px 0px ;
}
.duedata::before{
	content:"Finish by";
}
#input{
	margin-left:20%;
}
#savingmsg{
	font-size:24px;
	margin:10px;
	display:inline-block;
	text-align:center;
	/*width:calc(60vw - 120px);*/
	color:white;
	filter: none !important;
}
.check_tools{
	margin-left:20px;
	display: none;
}
.check:hover .check_tools{
	display: block;
}
#nav{
	display: flex;
	flex-direction: row;
	margin-left:100px;
	column-gap: 20px;
}
#nav .button{
	font-size: 24px;
	background:#2a2a2a;
	color: white;
	border:0;
	transition: 0.2s;
	padding:0px 10px;
	cursor: pointer;
}
#nav .button:hover{
	filter:brightness(1.4);
}
.editbox{
	width: 300px !important;
	font-size: 24px;
	height: 50px !important;
	padding: 5px 20px;
	outline: none;
	overflow: auto;
	background:#424242;
	color: lightgray;
	font-weight: bold;
	border: 0;
}
#choosetodo__container{
	width: 75%;
	margin: auto;
	text-align: center;
	font-size: 24px;	
}
.choose_todo_todo{
    margin: auto;
    margin-top: 20px;
    background: #0f0f0f;
    text-align: left;
    padding: 20px 40px;
	padding-left: 0;
    cursor: pointer;
    width: 50vw;
    border-radius: 8px;
    white-space: nowrap;
    overflow: hidden;
}
.choose_todo_todo span.close{
	color:transparent;
}
.choose_todo_todo:hover, #choosetodo_input input:focus, #choosetodo_input button:hover{
	filter: brightness(1.5);
}
.choose_todo_todo:hover span.close{
	color:lightcoral;
}
.choose_todo_todo .close{
	font-size: 24px;
	width: 40px;
	text-align: center;
	display: inline-block;
}
#choosetodo_input input{
	margin: auto;
    margin-top: 20px;
    background: #0f0f0f;
    text-align: left;
    padding: 20px 20px;
	font-size: 24px;
	color: white;
	border: 0;
	outline: 0;
    width: calc(50vw - 100px);
    border-radius: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	height:60px;
	transition: 0.2s ease;
}
#choosetodo_input button{
	margin-left:20px;
	width:80px;
	height:60px;
	background: #0f0f0f;
	border-radius:8px;
	color: whitesmoke;
	border: 0;
	font-size:18px;
	cursor:pointer;
	transition: 0.2s ease;
}
#choosetodo_input button:active{
	filter: brightness(2);
}


@media print{
	#nav, #input, footer, header::after{
		display: none;
	}
	body{
		background: white;
		color: black;
	}
	header h1{
		color: black;
		margin: 0;
		display:inline-block;
		font-size: 36px;
		text-shadow: none;
	}
	#container{
		width: 100%;
		margin: 0;
		margin-top:0 !important;
		font-size: 24px;
	}
	header{
		background: none;
	}
	div.check_tools{
		display: none !important;
	}
	.check input{
		height: 25px;
    	width: 25px;
    	margin-right: 10px;
	}
	.duedata {
		font-size: 18px;
		display: inline-block;
		width: 100%;
		padding-left: 50px;
	}
	.check + .check{
		margin-top: 10px;
	}
}
#exportdata, #importdata{
	color: lightgray;
	background: #0f0f0f;
	font-size: 24px;
	border: 0;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
	cursor: pointer;
}
/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.button::after{
    content: attr(title);
	display:none;
	animation: opr 0.2s ease;
}

.button:hover::after{
    content: attr(title);
	display: block;
    font-size: 16px;
    background: #0f0f0f;
    padding: 10px;
    position: fixed;
    top: 60px;
    left: 0%;
	opacity: 1;
	animation: op ease 0.2s;
	width:fit-content;
	width:-moz-fit-content;
	border-radius:8px;
}
.button:hover{
	width:fit-content;
}
@keyframes op{
	from{opacity:0;top: 70px;}
	to{opacity:1;top: 60px;}
}
@keyframes opr{
	from{display:block;opacity:1;}
	to{opacity:0;}
}
#savingmsg::after{
	left:initial;
}